PORT=4001
DATABASE_URL=postgresql://admin:admin@postgres:5432/games
RABBITMQ_URL=amqp://admin:admin@rabbitmq:5672
KEYCLOAK_URL=http://keycloak:8080
KEYCLOAK_ISSUER=http://localhost:8080

# E2E tests
TEST_KONG_URL=http://localhost:8000
TEST_KEYCLOAK_TOKEN_URL=http://localhost:8080/realms/crash-game/protocol/openid-connect/token
